/ejemplos/Ejemplos07/nbproject/private/
/ejemplos/Ejemplos07/build/
/problematicas/tareaEjercicio1/nbproject/private/
/problematicas/ejercicio2/nbproject/private/
/problematicas/tareaEjercicio1/JavaApplication34/nbproject/private/
/problematicas/DEBER/JavaApplication34/nbproject/private/
/problematicas/DEBER/nbproject/private/
/problematicas/DEBER/EJERCICIO2/nbproject/private/
/problematicas/DEBER/DEBER/nbproject/private/
/problematicas/DEBER/DEBER/build/
